.navbar {
    background: #0a3795;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 5rem;
    color: #fff;
    padding: 0 3rem;
}
.logo img {
    height: 2.5rem;
}
.logo span {
    font-size: 1rem;
    font-weight: 800;
}
.logo .abp{
    color: #4cc0f8;
}
.btn {
    font-size: .7rem;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
.btn.btn-link {
    color: #fff;
}
.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #41faa4;
}
.grid-hero {
    padding-bottom: 2rem;
    padding-top: 6rem;
}
.grid-hero .card {
    background: 0 0;
    border: 0;
    color: #727e96;
    padding: .5rem;
}
