body {
    font-family: "Poppins",sans-serif;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-weight:800;
}
h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    color: #5cd0ac;
}
h3 {
    font-weight: 900;
}
ol, ul {
    margin: 0;
}
ol li, ul li {
    display: inline-block;
    width: 150px;
    margin: 0;
}
.navbar {
    background: #0a3795;
    width: 100%;
    height: 5rem;
    color: #fff;
    padding: 0 3rem;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 2.5rem;
}
.logo span {
    font-size: 1rem;
    font-weight: 800;
}
.logo .abp{
    color: #5cd0ac;
}
a.active, a:active, a:focus, a:hover {
    color: #0d42b2;
}
.btn {
    font-size: .7rem;
    font-weight: 300;
    border: 0;
    color: #0d42b2;
    text-transform: uppercase;
}
.btn.btn-lg {
    font-size: .7rem;
}
.btn.btn-link {
    color: #fff;
}
.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #41faa4;
}
.bg-hero {
    padding: 12rem 3rem 2rem;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230d42b2'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2346a084' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2346a084' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}
.grid-hero {
    padding-bottom: 2rem;
    padding-top: 12rem;
}
.grid-hero .card {
    background: 0 0;
    border: 0;
    color: #727e96;
    padding: .5rem;
}
.tv {
    opacity: 0.9;
    height: 75%;
}
.bg-desc {
    background: #0d42b2;
    padding: 6rem 3rem 2rem;
}
.text-secondary {
    color: #bbdbff;
}
.bg-footer {
    background: #0a3795;
    padding: 3rem;
}
a.footer-link {
    color:#41faa4;
}
.columns.columns-footer .column {
    margin-bottom: 3rem;
}
